<h1>Detail Image <%= image.title %></h1>

<% detailinfo = image_info(image,'detail') %>
<div>
	<div><image src="<%= detailinfo['rel_path'] %>" alt="<%= detailinfo['filename'] %>"/></div>
	<div><%= image.title %></div>
</div>

<div>
	<% if index > 0%><a href="<%= detail_page(index-1) %>">Prev (<%= images[index-1].title %>)</a><% end %>
	<% if index < images.length-1 %><a href="<%= detail_page(index+1) %>">Next (<%= images[index+1].title %>)</a><% end %>
	<a href="<%= index_page(page_nr) %>">Back to index</a>
</div>
