<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/pure/pure-min.css"/>
	<link rel="stylesheet" href="css/styles.css"/>
	<link rel="stylesheet" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="utf-8"/>
	<meta name="DC.title" content="<%= album.title %>" />
	<meta name="DC.subject" content="<%= album.subtitle %>" />
	<meta name="DC.description" content="<%= album.description %>" />
	<meta name="DC.creator" content="<%= album.author %>" />
	<title><%= image.title %> - <%= album.title %></title>
</head>
<body class="detailpage">
	<div class="container">
		<div class="nav">
			<div class="album-title"><a href="index.html"><%= album.title %></a></div>
			<div class="paginator">
			<% if index > 0%><a href="<%= detail_page(index-1) %>"><i class="fa fa-chevron-left"></i></a><% end %>
			<a href="<%= index_page(page_nr) %>"><i class="fa fa-chevron-up"></i></a>
			<% if index < images.length-1 %><a href="<%= detail_page(index+1) %>"><i class="fa fa-chevron-right"></i></a><% end %>
			</div>
		</div>
		<h1 class="title"><%= image.title %></h1>

		<%
			detailinfo = image_info(image,'detail')
			originalinfo = image_info(image,'original')
		 %>
		<div>
			<div class="image">
				<a href="<%= originalinfo['rel_path'] %>">
					<img class="pure-img" src="<%= detailinfo['rel_path'] %>" alt="<%= detailinfo['filename'] %>" title="<%= image.description %>"/>
				</a>
			</div>
			<div class="subtitle"><%= image.description %></div>
			<% if image.exif[:exif] %>
			<table align="center">
				<tr>
					<td align="left">Capture Date:</td>
					<td align="left"><%= image.exif[:date_time_original].strftime('%d.%m.%Y %H:%S') if image.exif[:date_time_original] %></td>
				</tr>
				<tr>
					<td align="left">GPS Location:</td>
					<td align="left"><a href="https://www.google.com/maps/place/<%= "#{image.exif[:gps_latitude]}N,#{image.exif[:gps_longitude]}E" %>" target="_blank"><%= "#{image.exif[:gps_latitude].round(6)} / #{image.exif[:gps_longitude].round(6)}" %></a></td>
				</tr>
				<tr>
					<td align="left">Exposure Time:</td>
					<td align="left"><%= image.exif[:exposure_time].to_s %></td>
				</tr>
				<tr>
					<td align="left">Aperture:</td>
					<td align="left"><%= image.exif[:f_number].to_f.round(3) %></td>
				</tr>
			</table>
			<% end %>
		</div>
	</div>

	<footer>
		<%= album.copyright %> <%= album.author %> - created with <a href="https://github.com/bylexus/ralber">ralber</a>
	</footer>
</body>
</html>