<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/pure/pure-min.css">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<link rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title><%= album.title %></title>
</head>
<body class="indexpage">
		<h1 class="title"><%= album.title %></h1>
		<h2 class="subtitle"><%= album.subtitle %></h2>
		<p><%= album.description %></p>

		<div class="indextable">
			<div class="nav">
				<div class="pure-g">
					<div class="pure-u-1-1 imageinfo"><%= album.images.length %> images</div>
				</div>
			</div>

			<div class="pure-g">
			<% images.each_with_index do |img,index| %>
			<% if index % 4 == 0 && index > 1 %>
			</div>
		
			<div class="pure-g">
			<% end %>
				<div class="pure-u-1-4">
					<% 
						info = image_info(img,'thumb') 
						detailinfo = image_info(img,'detail')
						originfo = image_info(img,'original')
					%>
					<div class="index">
						<a class="fancybox" rel="group" href="<%= detailinfo['rel_path'] %>" title="<%= img.title %><%= (" - " + img.description) if img.description.length > 0 %> <a href=&quot;<%= originfo['rel_path'] %>&quot;>[download]</a>">
							<div>
								<img class="pure-img" src="<%= info['rel_path'] %>" alt="<%= img.title %>" title="<%= img.description %>"/>
							</div>
						</a>
						<div class="caption"><%= img.title %></div>
					</div>
				</div>
			<% end %>	
			</div>
		</div>
		
		<footer>
			<%= album.copyright %> <%= album.author %> - created with <a href="https://github.com/bylexus/ralber">ralber</a>
		</footer>

		<script type="text/javascript" src="fancybox/lib/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

		<link rel="stylesheet" href="fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
		<script type="text/javascript" src="fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
		<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
		<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
		<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".fancybox").fancybox({
					openEffect: 'elastic',
					closeEffect: 'elastic',
					nextEffect: 'elastic',
					prevEffect: 'elastic',
					helpers	: {
						title	: {
							type: 'over'
						}
					}
				});
			});
		</script>
	</body>
</html>